.main-bg{
    background-image: url("../imgs/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.typo-nuevas{
    font-size: 5vw;
    font-width: 300;
    font-weight: lighter;
}

.typo-tecnologias{
    font-size: 7vw;
    font-weight: bolder;
}

.typo-parragraph{
    font-size: 1.5vw;
    font-weight: lighter;
}

.wave{
    background-image: url("../imgs/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle{
    background-image: url("../imgs/rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle-cover{
    background-image: url("../imgs/rectangle-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gray-filter{
    background: rgba(0, 0, 0, 0.4);
}

.orange-number{
    color: #FCAF17;;
    font-size: 13vw;
    font-weight: 700;
}

.orange{
    color: #FCAF17;
}

.bg-button-orange{
    background-color: #FCAF17;
}
.bg-card-blue{
    background-color: #1C4371;
}

.btn-orange{
    background-color: #FCAF17;
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    border-radius: 0;
}

.footer{
    background-color: #303030;
}

.contact-margin{
    margin-top: -90vh;
}